body {
    background-color: #f6f6f6;
    font-family: 'Roboto', sans-serif;
}

.loader {
    border: 16px solid #f3f3f3;
    border-top: 16px solid #9356DC;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear;
    animation-iteration-count: 2;
    position: fixed;
    animation-fill-mode: forwards;
}

.loader-Container {
    height: 100%;
    width: 100%;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: loader-container 8s linear;
}

@keyframes loader-container {
    0% {background-color: #808080d9;
        position: fixed;}
    99%{background-color: #808080d9;}
    100% {background-color: transparent;
          position:unset;}
}



@keyframes spin {
    0% { transform: rotate(0deg); }
    99% { transform: rotate(360deg);}
    100% {opacity: 0;}
}

.loader:after {
    display: none;
}

.logo {
    width: 155px;
    display: block;
    margin: auto;
    padding-bottom: 20px;
    padding-top: 20px;
}

.location {
    display: flex;
    justify-content: center;
    border: 1px solid transparent;
    background-color: #eaeaea;
    border-left: none;
    border-right: none;
    border-bottom: none;
    height: 50px;
    box-shadow: inset 0px 2px 0px 0px #0202020d;
}

.location > i {
    line-height: 60px;
    font-size:large;
    margin-right: 20px;
}

.explorer {
    width: 373px;
    height: 285px;
    background-color: #f6f6f6 ;
    margin: auto;
}

.explorer > h1 {
    width: 80%;
    text-align: center;
    margin: auto;
    padding-top: 40px;
    line-height: 25px;
}

.explorer > p {
    text-align: center;
    margin: auto;
    width: 50%;
    margin-bottom: 40px;
    margin-top: 20px;
}

button {
    background: linear-gradient(#FF79DA, #9356DC);
    height: 50px;
    width: 220px;
    border-radius: 50px;
    color: white;
    margin-left: 80px;
    border-color: transparent;
}

button:hover {
    filter:brightness(1.2);
    box-shadow: 0px 0px 2px 2px #0000004f;
}

#restaurant {
    width: 100%;
    background-color: #f6f6f6;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
}

#restaurant > h2 {
    margin-left: 20px;
}

.card-Description {
    display: flex;
    align-items: center;
    justify-self: center;
}

.restaurant-Description {
    flex: 1;
    margin-left: 10px
}

.button-Like {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5%;
    margin-right: 10px;
}

.big-Button-Like {
    display: flex;
    align-items: center;
    justify-content: center;

}

.laPaletteDuGout {
    width: 90%;
    height: 250px;
    border: 2px solid white;
    margin: auto;
    background-color: white;
    border-radius: 20px;
    margin-bottom: 20px;
    line-height: 10px;
    display: block;
}

.laPaletteDuGout > img {
    object-fit: cover;
    width: 100%;
    height: 175px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}



.laNoteEnchantee {
    width: 90%;
    height: 250px;
    border: 2px solid white;
    margin: auto;
    background-color: white;
    border-radius: 20px;
    margin-bottom: 20px;
    line-height: 10px;
}

.laNoteEnchantee > img {
    object-fit: cover;
    width: 100%;
    height: 175px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.laNoteEnchantee > i {
    display: flex;
    justify-content: flex-end;
    margin-top: -32px;
    margin-right: 20px;
}

.aLaFrancaise {
    width: 90%;
    height: 250px;
    border: 2px solid white;
    margin: auto;
    background-color: white;
    border-radius: 20px;
    margin-bottom: 20px;
    line-height: 10px;
}

.aLaFrancaise > img {
    object-fit: cover;
    width: 100%;
    height: 175px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.aLaFrancaise > i {
    display: flex;
    justify-content: flex-end;
    margin-top: -32px;
    margin-right: 20px;    
}

.leDeliceDesSens {
    width: 90%;
    height: 250px;
    border: 2px solid white;
    margin: auto;
    background-color: white;
    border-radius: 20px;
    margin-bottom: 20px;
    line-height: 10px;
}

.leDeliceDesSens > img {
    object-fit: cover;
    width: 100%;
    height: 175px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.leDeliceDesSens > i {
    display: flex;
    justify-content: flex-end;
    margin-top: -32px;
    margin-right: 20px;  
}

.restaurant-Name {
    width: fit-content;
}

footer {
    background-color: #353535;
    width: 100%;
    height: 195px;
    color: white;
}

ul {
    list-style: none;
}

li > i {
    margin-right: 10px;
}

.proposerRestaurant {
    margin-bottom: 20px;
}

#fonctionnement {
    margin: auto;
    width: 90%;
}

.etape1 , .etape2 , .etape3 {
    border: 2px solid transparent;
    background-color: #f6f6f6;
    border-radius: 20px;
    margin-bottom: 20px;
    box-shadow: 5px 5px 5px #00000029;
    margin-right: 15px;
}

header > i {
    margin-top: 25px;
    margin-left: 10px;
}

.banniereRestaurant {
    width: 100%;
    height: 270px;
    margin-top: 20px;
    object-fit: cover;
}

.nomRestaurant {
    display: flex;
    justify-content: space-around;
    background-color: #f6f6f6;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    position: absolute;
    margin-top: -70px;
    width: 100%;
}

.nomRestaurant > i {
    margin-top: 33px;
}

.menu {
    background-color: #f6f6f6;
    margin-top: -20px;
}

.style-menu {
    border: 2px solid #f6f6f6;
    border-radius: 10px;
    background-color: white;
    width: 350px;
    height: 70px;
    line-height: 5px;
    margin: auto;
    display: flex;
    justify-content: center;
}

.style-menu > h3 , p {
    margin-left: 10px;
}

.menu-Title {
    flex: 1;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: hidden;
}

.prix {
    margin: auto;
    margin-right: 10px;
}

.commander {
    margin-top: 45px;
    margin-bottom: 60px;
    display: flex;
    justify-content: center;
}

.transition1 {
    animation-name: menu;
    animation-duration: 2s;
    opacity: 0;
    animation-fill-mode: forwards;
    width: 90%;
}

.transition2 {
    animation-name: menu;
    animation-duration: 2s;
    animation-delay: 0.5s;
    opacity: 0;
    animation-fill-mode: forwards;
    width: 90%;
}

.transition3 {
    animation-name: menu;
    animation-duration: 2s;
    animation-delay: 1s;
    opacity: 0;
    animation-fill-mode: forwards;
    width: 90%;
}

@keyframes menu{
    from {
        transform: translateY(20px);
        opacity: 0%;       
    }
    to {
        opacity: 100%;              
    }
    
}

header {
    display: flex;
    justify-content: center;
}

.fa-circle-check {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: xx-large;
    display: none;
    animation-name: validation-check;
    animation-duration:1s;
}

.validation-Background {
    background-color: #99E2D0;
    animation-name: background-translate;
    animation-duration:.5s;
    display: none;
    animation-fill-mode: forwards;
    justify-content: center;
}

.validation:hover .validation-Background {
    display: flex;
}

@keyframes background-translate {
    0% {
        width: 0%;
    }
    100% {
        width: 25%;
        margin-left: 10px;
    }
}

@keyframes validation-check {
    0%{
        transform:rotate(180deg);
     }
    100%{
        transform: rotate(0deg);
    }
}

.validation:hover .fa-circle-check {
    color: white;
    display: flex;
}


.like2 {
    transition: 1s ease-in-out;
    opacity: 0;
    position: absolute;
    background: linear-gradient(180deg,#9356dc,#ff79da);
    -webkit-background-clip: text;
    color: transparent;
}

.like2:hover {
    opacity: 1;
    font-size:xx-large
}

ol {
    list-style: none;
    counter-reset: counter;
}

li {
    list-style-position: inside;
    counter-increment: counter;
}

.etape1::before , .etape2::before , .etape3::before {
  content: counter(counter);
  background: #9356DC;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  display: inline-block;
  line-height: 2rem;
  color: white;
  text-align: center;
  margin-right: 10px;
  margin-left: -10px;

}

.etape1:hover , .etape2:hover , .etape3:hover > i {
    color: #9356DC;
}

.etape1:hover , .etape2:hover , .etape3:hover > p {
    color:#9356DC;
}

.etape1:hover , .etape2:hover , .etape3:hover {
    background-color: rgba(146, 86, 220, 0.11);
}

.etape1 > p , .etape2 > p , .etape3 > p {
    display:-webkit-inline-box;
}

.style-titre-menu {
    border-bottom: 4px solid aquamarine;
    width: 16%;
}
 
@media all and (min-width: 769px) and (max-width: 2560px) {
    .button-Like {
        margin-top: 1%;
    }
}